<section class="top-header" id="tophead">
	<div class="container-fluid">
	<nav class="navbar navbar-expand-md navbar-light bg-white naving">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/homepage">
      <img class="logo horizontal-logo" src="../../assets/images/caramelconsortium.jpg" width="200px" alt="forecastr logo">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item naving-item">
          <a class="nav-link link-nav px-lg-4 font-weight-bold" routerLink="/homepage">IT SERVICES HOME</a>
        </li>
        <li class="nav-item dropdown dropdowns naving-item">
          <a class="nav-link dropdown-toggle link-nav px-lg-4 drop-togg font-weight-bold" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         INDUSTRIES
          </a>
          <div class="dropdown-menu dropdown-menus" aria-labelledby="navbarDropdown2">
            <!-- <div class="dropdown-divider divider-drop-cons"></div> -->
            <a class="dropdown-item item-drop-cons" routerLink="/automotive"><span class="trans">Automotive</span></a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/communication">Communication & Media</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/lifescihealth">Life Science & Healthcare</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/banking">Banking</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/consumer">Consumer Goods & Services</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/travel">Travel</a>
        </div>
        </li>
        <li class="nav-item dropdown dropdowns naving-item">
          <a class="nav-link dropdown-toggle link-nav px-lg-4 drop-togg font-weight-bold" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          INSIGHTS
          </a>
          <div class="dropdown-menu dropdown-menus" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item item-drop-cons" routerLink="/ai">Artificial Intelligence</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/blockchain">Blockchain</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/iot">Internet Of Things</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/futureworkforce">Future Workforce</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/cloud">Cloud Computing</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/data-science">Data Science</a>
          </div>
        </li>
         <li class="nav-item dropdown dropdowns naving-item">
          <a class="nav-link dropdown-toggle link-nav px-lg-4 drop-togg font-weight-bold" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          BUISNESS
          </a>
          <div class="dropdown-menu dropdown-menus" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item item-drop-cons" routerLink="/strategy">Strategy</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/consulting">Consulting</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/digital">Digital</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/technology">Technology</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/operations">Operations</a>
            <div class="dropdown-divider divider-drop-cons"></div>
            <a class="dropdown-item item-drop-cons" routerLink="/applications">Application Services</a>
            </div>
        </li>
        <li class="nav-item naving-item">
          <a class="nav-link link-nav px-lg-4 font-weight-bold" routerLink="/consortium-contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
 </nav>
 </div>
</section>

