<app-consortium-navbar></app-consortium-navbar>
<!-------------------HEADER SECTION START--------------------------->
<section class="header-section">
	<div class="container-fluid py-3">
		<div class="row pb-5" id="homeid" style="margin-right: 0px!important; margin-left: 0px!important;">
			<div class="col-md-6 col-lg-6 col-12 class-margin">
				<h1 style="color:rgba(76,175,80,1); font-size: 40px;" class="py-3 font-weight-bold">Automotive Industry</h1>
				<!-- <h2 class="text-left pl-5">Sample text Here</h2> -->
				<p class="text-left" style="font-size: 18px;text-align: justify!important;">Modern Software will dominate the Automotive Industry.The rise of autonomous vehicles will cause a tectonic shift in the mobility industry―and incumbents must evolve along with it.
       </p>
     </div>
     <div class="col-md-6 col-lg-6 col-12 text-center">
      <img src="../../assets/images/images/automotive-car.webp" class="img-fluid">
    </div>
  </div>
</div>
</section>
<!--------------------------------cover section-------------------------->
<section class="what-cover bg-light" id="covv">
	<div class="container-fluid py-3">
		<div><h2 class="text-center font-weight-bold" style="color:rgba(76,175,80,1);">WHAT WE COVER</h2></div>
		<div class="row py-3">
			<div class="col-lg-6 col-md-6 col-12">
				<h2 class=" py-3">Learn how automakers can position themselves to flourish the new era of IOT,Mobility & AI/ML</h2>
				<p style="font-size: 24px;">THE FUTURE OF MOBILITY</p>
				<p style="font-size: 18px;">Softwares are changing automotive technology from AI-powered Robo-Taxis and blockchain-powered cars to interactive car lights</p>
			</div>
			<div class="col-lg-6 col-md-6 col-12">
				<div class="iframe-container" style="display: flex;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/LRrMDf-2iqE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------------------cover section------------------>
<section class="auto-blog" id="blog-automotive">
	<div class="container-fluid py-5">
		<div><h2 class="text-center font-weight-bold" style="color:rgba(76,175,80,1);">AUTOMOTIVE BLOGS</h2></div>
	</div>
	<div class="container-fluid">
    <div class="row pb-5 mobile-disp">
      <div class="col-12 col-lg-3 col-md-3">
        <div class="w3-card w3-hover-shadow resp-margin">
          <img class="card-img image-card-indus" src="../../assets/images/images/automotive4.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm mt-1">Read More</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Automotive industry</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Artificial Industry is impacting the automotive industry.</p>
            <!-- <a href="../consortiumcoming.html" class="btn btn-info float-right">Read More</a> -->
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
              <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>   
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <div class="w3-card w3-hover-shadow  resp-margin">
          <img class="card-img image-card-indus img-fluid" src="../../assets/images/images/automotive3.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm mt-1">Read More</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Automotive industry</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Artificial Industry is impacting the automotive industry.</p>
            <!-- <a href="../consortiumcoming.html" class="btn btn-info float-right">Read More</a> -->
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
              <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <div class="w3-card w3-hover-shadow  resp-margin">
          <img class="card-img image-card-indus img-fluid" src="../../assets/images/images/automotive1.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm mt-1">Read More</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Automotive industry</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Artificial Industry is impacting the automotive industry.</p>
            <!-- <a href="../consortiumcoming.html" class="btn btn-info float-right">Read More</a> -->
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
              <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <div class="w3-card w3-hover-shadow  resp-margin">
          <img class="card-img image-card-indus" src="../../assets/images/images/automotive2.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm mt-1">Read More</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Automotive industry</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Artificial Industry is impacting the automotive industry.</p>
            <!-- <a href="../consortiumcoming.html" class="btn btn-info float-right">Read More</a> -->
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
              <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-------------------------our stories---------------------->
<section class="updates-blog">
  <div class="container-fluid py-3"><div><h2 class="text-center font-weight-bold text-uppercase" style="color:rgba(76,175,80,1);">Our Industry Stories</h2></div>
</div>
<!-- Page Content -->
<div class="container-fluid">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-6 col-lg-6">
      <!-- Blog Post -->
      <div class=" mb-4 w3-card-4">
        <img class="card-img-top" src="../../assets/images/images/robot-car.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">Products</h2>
          <p class="card-text">The future of mobility: here is how software is changing automotive technology From AI-powered Robo-Taxis and blockchain-powered cars to interactive car lights; the software component for automobiles is going to reach $3 trillion in less than a decade.</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on Feb 10, 2020 by
          <a href="../index.html">Caramel IT</a>
        </div>
      </div>
    </div>
    <!-- Blog Post -->
    <div class="col-12 col-md-12 col-lg-6">
      <div class=" mb-4 w3-card-4">
        <img class="card-img-top" src="../../assets/images/images/robot-machine.jpeg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">Services</h2>
          <p class="card-text">Train for a career repairing and maintaining cars and trucks in this program that combines action-based learning on modern equipment in a shop environment, as well as automotive theory and business courses and find out the way in machine learnings .</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on Feb 10, 2020 by
          <a href="../index.html">Caramel IT</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar Widgets Column -->
  <div class="w3-container bg-success">
  <h1 class="text-center text-white">Case Studies</h1>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="../../assets/images/Industriesimages/web-development.jpeg" style="width:100%">
      <div class="w3-container">
        <h5>Web Development</h5>
      </div>
    </div>
  </div>

  <div class="w3-third card-margin">
    <div class="w3-card">
      <img src="../../assets/images/Industriesimages/evolving-industries.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Industries Evolveing</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="../../assets/images/Industriesimages/technology.jpg" style="width:100%">
      <div class="w3-container">
        <h5>Technology</h5>
      </div>
    </div>
  </div>
</div>
  <!-- Side Widget -->
  <div class=" my-4 w3-card-4 px-5 bg-success">
    <h3 class="pt-3 text-white text-center">Partners Saying</h3>
    <div class="card-body text-white text-center">
     The rise of autonomous vehicles will cause a tectonic shift in the mobility industry―and incumbents must evolve along with it.
    </div>
  </div>



</div>
<!-- /.row -->
<!-- /.container -->
</section>
<!-------------------HEADER SECTION END--------------------------->
<app-consortium-footer></app-consortium-footer>
