<app-consortium-navbar></app-consortium-navbar>
<!-------------------HEADER SECTION START--------------------------->
<section class="header-section">
    <div class="container-fluid py-3">
      <div class="row pb-5" id="homeid" style="margin-right: 0px!important; margin-left: 0px!important;">
        <div class="col-md-6 col-lg-6 col-12 class-margin">
          <h1 style="color:rgba(76,175,80,1); font-size: 40px;" class="py-3 font-weight-bold">Data Science</h1>
          <!-- <h2 class="text-left pl-5">Sample text Here</h2> -->
          <p class="text-left" style="font-size: 18px;text-align: justify!important;">Usage of data to provide solutions. Using collected data to extract meaning from and interpret data.<br>
             Business Intelligence: After the data has been Organized.<br>
  Traditional Method: After BI report has been created and discussed.<br>
  Machine Learning: Use data to create reports and dashboards to gain business insights.
  
         </p>
       </div>
       <div class="col-md-6 col-lg-6 col-12 text-center">
        <img src="../../assets/images/images/datascience.png" class="img-fluid">
      </div>
    </div>
  </div>
  </section>
  <!--------------------------------cover section-------------------------->
  <section class="special-section " id="special-sec">
    <div class=" container-fluid">
      <h1 class="text-center text-success"> Our Data Science Expertise</h1>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <h3><i class="fa fa-hand-o-right" style="font-size:20px"></i>&nbsp; Big Data Analytics</h3>
          <p style="font-size: 18px;text-align: justify!important;"> Big Data analytics can help organizations to better understand the information contained within the data and will also help identify the data that is most important to the business and future business decisions.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h3><i class="fa fa-hand-o-right" style="font-size:20px"></i> &nbsp; NLP & Text Analysis </h3>
          <p style="font-size: 18px;text-align: justify!important;">Text analysis, sometimes referred as text mining, is the automated process of understanding and sorting unstructured text, making it easier to manage. </p>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h3><i class="fa fa-hand-o-right" style="font-size:20px"></i> &nbsp;Computer Vision</h3>
          <p style="font-size: 18px;text-align: justify!important;">Computer vision is closely linked with artificial intelligence, as the computer must interpret what it sees, and then perform appropriate analysis or act accordingly.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h3><i class="fa fa-hand-o-right" style="font-size:20px"></i> &nbsp;Peredictive Analytics</h3>
          <p style="font-size: 18px;text-align: justify!important;">Predictive analytics describe the use of statistics and modeling to determine future performance based on current and historical data.It is a decision-making tool in a variety of industries.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h3><i class="fa fa-hand-o-right" style="font-size:20px"></i> &nbsp;Data Capture / OCR</h3>
          <p style="font-size: 18px;text-align: justify!important;">OCR is necessary for data capture because an OCR engine is responsible for recognizing the actual text within a scanned form or invoice.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h3><i class="fa fa-hand-o-right" style="font-size:20px"></i> &nbsp;BI Implementation</h3>
          <p style="font-size: 18px;text-align: justify!important;">BI(Business Intelligence) is a set of processes, architectures, and technologies that convert raw data into meaningful information that drives profitable business actions.</p>
        </div>
      </div>
    </div>
  </section>
  <!------------------------------------cover section------------------>
  <!-- services section start-->
  <section class="serv-section bg-light" id="serve-sec">
    <div class=" container-fluid pb-5">
      <h1 class="text-center text-success py-5">What We Offer</h1>
      <div class="row">
        <div class="col-12 col-lg-4 col-md-6">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/data-science.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">Data Science & Analytics</h4>
             <!--  <p class="card-text text-center">advise organisations on high-level decisions in an unbiased fashion, using deep industry knowledge to deliver the best results. </p>  -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/data2.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">Data Strategy</h4>
              <!-- <p class="card-text text-center">AI-driven development focuses on tools and techniques for embedding AI into applications and using AI to generate other AI-powered tools.</p>  -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/brain.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">Business Intelligence</h4>
             <!--  <p class="card-text text-center">Some example text.</p>  -->
            </div>
          </div>
        </div>
      </div>
        <div class="row pt-5">
        <div class="col-12 col-lg-4 col-md-6">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/ai.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">AI Software Development</h4>
              <!-- <p class="card-text text-center">Some example text.</p>  -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/artificial-intelligence.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">Artificial Intelligence Consulting</h4>
              <!-- <p class="card-text text-center">Some example text.</p>  -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/data-science-base.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">Data Engineering & Architecture</h4>
              <!-- <p class="card-text text-center">Some example text.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services section end -->
  <!-- industries section start -->
  <section class="indus-section bg-success" id="industries-sec">
    <div class="container-fluid py-5">
      <h1 class="text-center text-white pb-5">Industries We Serve</h1>
      <div class="row">
        <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/hospital.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Lifescience & Healthcare</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/supermarket.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Goods & Services</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin">
          <div class="card">
            <img src="../../assets/images/images/profits.png" class="avatar mt-3">
            <div class="card-body">
             <p class=" text-center mobile-font">Banking</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/car.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Automotive</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/travel.png" class="avatar mt-3">
            <div class="card-body" id="travel-card">
              <p class=" text-center mobile-font">Travel</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/network-signal.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Communication & Media</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- industries section end -->
  <!-------------------HEADER SECTION END--------------------------->
  <app-consortium-footer></app-consortium-footer>
