<app-consortium-navbar></app-consortium-navbar>
<!-------------------HEADER SECTION START--------------------------->
<section class="header-section">
	<div class="container-fluid py-3">
		<div class="row pb-5" id="homeid" style="margin-right: 0px!important; margin-left: 0px!important;">
			<div class="col-md-6 col-lg-6 col-12 class-margin">
				<h1 style="color:rgba(76,175,80,1);font-size: 40px;" class="py-3 font-weight-bold">Lifescience & Healthcare</h1>
				<!-- <h2 class="text-left pl-5">Sample text Here</h2> -->
				<p class="text-left" style="font-size: 18px;text-align: justify!important;">Designing and developing the next generation of health technology for brighter futures, better communication, greater interoperability, and agility.
       </p>
     </div>
     <div class="col-md-6 col-lg-6 col-12 text-center">
      <img src="../../assets/images/images/lifescience.jpg" class="img-fluid">
    </div>
  </div>
</div>
</section>
<!--------------------------------cover section-------------------------->
<section class="what-cover bg-light" id="covv">
	<div class="container-fluid py-3">
		<div><h2 class="text-center font-weight-bold" style="color:rgba(76,175,80,1);">WHAT WE COVER</h2></div>
		<div class="row py-3">
			<div class="col-lg-6 col-md-6 col-12">
				<h2 class=" py-3" style="text-align: justify!important;">Technology is a chief driving agent of growth in the healthcare industry.</h2>
				<!-- <p style="font-size: 24px;">THE FUTURE OF MOBILITY</p> -->
				<p style="font-size: 18px;text-align: justify!important;">The health industry is one of the fastest growing, most critical industries worldwide. We are living in an era of rapid change and innovation in life science, and every healthcare organization in the world is feeling the impact. </p>
			</div>
			<div class="col-lg-6 col-md-6 col-12">
				<div class="iframe-container" style="display: flex;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XTvwxr-ZrXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------------------cover section------------------>
<section class="auto-blog" id="blog-automotive">
	<div class="container-fluid py-5">
		<div><h2 class="text-center font-weight-bold" style="color:rgba(76,175,80,1);">LIFESCIENCE & HEALTHCARE BLOGS</h2></div>
	</div>
	<div class="container-fluid">
    <div class="row pb-5 mobile-disp">
      <div class="col-12 col-lg-3 col-md-3">
        <div class="w3-card w3-hover-shadow resp-margin">
          <img class="card-img image-card-indus" src="../../assets/images/images/lifescience1.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm mt-1">Read More</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Lifescience & Healthcare</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Many of the innovations have been made possible due to the breakthroughs in the field of software sciences and digital technologies. 
            <!-- <a href="../consortiumcoming.html" class="btn btn-info float-right">Read More</a> -->
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
              <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>   
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <div class="w3-card w3-hover-shadow  resp-margin">
          <img class="card-img image-card-indus img-fluid" src="../../assets/images/images/lifescience2.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm mt-1">Read More</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Lifescience & Healthcare</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Many of the innovations have been made possible due to the breakthroughs in the field of software sciences and digital technologies.</p>
            <!-- <a href="../consortiumcoming.html" class="btn btn-info float-right">Read More</a> -->
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
              <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>   
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <div class="w3-card w3-hover-shadow  resp-margin">
          <img class="card-img image-card-indus img-fluid" src="../../assets/images/images/lifescience3.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm mt-1">Read More</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Lifescience & Healthcare</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Many of the innovations have been made possible due to the breakthroughs in the field of software sciences and digital technologies.</p>
            <!-- <a href="../consortiumcoming.html" class="btn btn-info float-right">Read More</a> -->
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
              <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <div class="w3-card w3-hover-shadow  resp-margin">
          <img class="card-img image-card-indus" src="../../assets/images/images/lifescience4.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm mt-1">Read More</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Lifescience & Healthcare</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">Many of the innovations have been made possible due to the breakthroughs in the field of software sciences and digital technologies.</p>
            <!-- <a href="../consortiumcoming.html" class="btn btn-info float-right">Read More</a> -->
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
              <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>   
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-------------------------our stories---------------------->
<section class="updates-blog">
    <div class="container-fluid py-3"><div><h2 class="text-center font-weight-bold text-uppercase" style="color:rgba(76,175,80,1);">Our Industry Stories</h2></div>
  </div>
  <!-- Page Content -->
  <div class="container-fluid">
  
    <div class="row">
  
      <!-- Blog Entries Column -->
      <div class="col-md-6 col-lg-6">
        <!-- Blog Post -->
        <div class=" mb-4 w3-card-4">
          <img class="card-img-top" src="../../assets/images/images/lifescience-products.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Products</h2>
            <p class="card-text">Innovations in wearable health sensors, diagnostic devices, information delivery, service, and care models are revolutionizing the industry and enabling professionals to respond faster, collaborate better, more effectively employ their time and resources, more accurately diagnose patients, and more efficiently communicate with patients. </p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on Feb 10, 2020 by
            <a href="../index.html">Caramel IT</a>
          </div>
        </div>
      </div>
      <!-- Blog Post -->
      <div class="col-12 col-md-12 col-lg-6">
        <div class=" mb-4 w3-card-4">
          <img class="card-img-top" src="../../assets/images/images/lifescience-services.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Services</h2>
            <p class="card-text">The future of healthcare and life sciences lies in developing user-friendly solutions [Focusing on Responsive, Performance & Smart UI] that are accessible, effective, efficient, and affordable.  </p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on Feb 10, 2020 by
            <a href="../index.html">Caramel IT</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="w3-container bg-success">
    <h1 class="text-center text-white">Case Studies</h1>
  </div>
  
  <div class="w3-row-padding w3-margin-top">
    <div class="w3-third">
      <div class="w3-card">
        <img src="../../assets/images/images/web-development.jpeg" style="width:100%">
        <div class="w3-container">
          <h5>Web Development</h5>
        </div>
      </div>
    </div>
  
    <div class="w3-third card-margin">
      <div class="w3-card">
        <img src="../../assets/images/images/evolving-industries.jpg" style="width:100%">
        <div class="w3-container">
          <h5>Industries Evolveing</h5>
        </div>
      </div>
    </div>
  
    <div class="w3-third">
      <div class="w3-card">
        <img src="../../assets/images/images/technology.jpg" style="width:100%">
        <div class="w3-container">
          <h5>Technology</h5>
        </div>
      </div>
    </div>
  </div>
    <!-- Side Widget -->
    <div class=" my-4 w3-card-4 px-5 bg-success">
      <h3 class="pt-3 text-white text-center">Partners Saying</h3>
      <div class="card-body text-white text-center">
       Technology is a chief driving agent of growth in the healthcare industry.
      </div>
    </div>
</div>
  <!-- /.row -->
  <!-- /.container -->
  </section>
  <!-------------------HEADER SECTION END--------------------------->
  <app-consortium-footer></app-consortium-footer>

