<app-consortium-navbar></app-consortium-navbar>
<!-------------------HEADER SECTION START--------------------------->
<section class="header-section">
    <div class="container-fluid py-3">
      <div class="row pb-5" id="homeid" style="margin-right: 0px!important; margin-left: 0px!important;">
        <div class="col-md-6 col-lg-6 col-12 class-margin">
          <h1 style="color:rgba(76,175,80,1); font-size: 40px;" class="py-3 font-weight-bold">Cloud Computing</h1>
          <!-- <h2 class="text-left pl-5">Sample text Here</h2> -->
          <p class="text-left" style="font-size: 18px;text-align: justify!important;">Cloud computing is the on-demand availability of computer system resources, especially data storage and computing power, without direct active management by the user.When considering which cloud computing solution is right for your business, you need to think in terms of hosted, hybrid or on-premises solutions. IaaS, SaaS and PaaS include the equipment software and applications that operate on the cloud. Hosted, hybrid and on-premise are the common deployment models of cloud computing.
         </p>
       </div>
       <div class="col-md-6 col-lg-6 col-12 text-center">
        <img src="../../assets/images/images/cloud.png" class="img-fluid" style="height">
      </div>
    </div>
  </div>
  </section>
  <!--------------------------------cover section-------------------------->
  <section class="what-cover" id="covv">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12" >
          <img src="../../assets/images/images/cloudgovernance.png" class="img-fluid">
        </div>
         <div class="col-lg-6 col-md-6 col-12">
          <div class="">
            <h1 class="text-success font-weight-bold pb-5">Cloud Governance Solutions</h1>
            <p class="text-left" style="font-size: 18px;text-align: justify!important;">Cloud governance and cloud management are terms that IT practitioners and leadership are going to be confronted with over the coming years. These concepts are interlinked and encompass a number of areas of concern. Understanding the difference between cloud governance and cloud management and how this difference impacts real-world IT operations requires knowledge of the overall evolution of IT as well as an exploration of problems facing organizations today.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!------------------------------------cover section------------------>
  <section class="serv-section bg-light" id="serve-sec">
    <div class=" container-fluid pb-5">
      <h1 class="text-center text-success py-5">Our Cloud Services</h1>
      <div class="row">
        <div class="col-12 col-lg-4 col-md-6">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/system.png" alt="Card image">
            <div class="card-body p-2">
              <h4 class="card-title text-center">Cloud Managed Services</h4>
              <p class="card-text text-center">Managed cloud services refers to outsourcing daily IT management for cloud-based services and technical support to automate and enhance your business operations.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/responsive.png" alt="Card image">
            <div class="card-body p-2">
              <h4 class="card-title text-center">Cloud Migration Services</h4>
              <p class="card-text text-center">The goal of any cloud migration is to host applications and data in the most effective IT environment possible, based on factors such as cost, performance & security.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/data.png" alt="Card image">
            <div class="card-body p-2">
              <h4 class="card-title text-center">Cloud Advisory Services</h4>
              <p class="card-text text-center">Our Cloud Advisory Services enable you to identify suitable opportunities to leverage Cloud computing services for sustainable business benefits. </p>
            </div>
          </div>
        </div>
      </div>
        <div class="row pt-5">
        <div class="col-12 col-lg-4 col-md-6">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/privacy.png" alt="Card image">
            <div class="card-body p-2">
              <h4 class="card-title text-center">Cloud Security Services</h4>
              <p class="card-text text-center">Cloud security is essential for the many users who are concerned about the safety of the data they store in the cloud. They believe their data is safer on their own local servers where they feel they have more control over the data.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/flexible.png" alt="Card image">
            <div class="card-body p-2">
              <h4 class="card-title text-center">Cloud Provisioning Services</h4>
              <p class="card-text text-center">Cloud provisioning is the allocation of a cloud provider's resources and services to a customer.It refers to the processes for the deployment and integration of cloud computing services within an enterprise IT infrastructure</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/computer.png" alt="Card image">
            <div class="card-body p-2">
              <h4 class="card-title text-center">Cloud Computing services</h4>
              <p class="card-text text-center">This Services provide IT as a service over the Internet or dedicated network, with delivery on demand, and payment based on usage.It range from full applications and development platforms.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services design start -->
  <section class="design-services" id="des-serv">
    <div class="container-fluid py-5">
      <h1 class="text-center text-success pb-5">
        Our Cloud Services Designed For
      </h1>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 text-center">
          <div class="card1">
          <h2 class="pt-2">Non-IT Enterprises</h2>
          <p class="py-3" style="font-size: 18px;">Companies which are using AWS,IAAS & PAAS.</p>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 text-center">
          <div class="card1">
          <h2 class="pt-2">Software Product Companies</h2>
          <p class="py-3" style="font-size: 18px;">SaaS Application providers using AWS.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services design end -->
  <section class="indus-section bg-success" id="industries-sec">
    <div class="container-fluid py-5">
      <h1 class="text-center text-white pb-5">Industries We Serve</h1>
      <div class="row">
        <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/hospital.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Lifescience & Healthcare</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/supermarket.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Goods & Services</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin">
          <div class="card">
            <img src="../../assets/images/images/profits.png" class="avatar mt-3">
            <div class="card-body">
             <p class=" text-center mobile-font">Banking</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/car.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Automotive</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/travel1111.png" class="avatar mt-3">
            <div class="card-body" id="travel-card">
              <p class=" text-center mobile-font">Travel</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/network-signal.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Communication & Media</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------------------HEADER SECTION END--------------------------->
  <app-consortium-footer></app-consortium-footer>
