<app-consortium-navbar></app-consortium-navbar>
<!-------------------HEADER SECTION START--------------------------->
<section class="header-section">
    <div class="container-fluid py-3">
      <div class="row pb-5" id="homeid" style="margin-right: 0px!important; margin-left: 0px!important;">
        <div class="col-md-6 col-lg-6 col-12 class-margin">
          <h1 style="color:rgba(76,175,80,1); font-size: 40px;" class="py-3 font-weight-bold">Future Workforce</h1>
          <!-- <h2 class="text-left pl-5">Sample text Here</h2> -->
          <p class="text-left" style="font-size: 18px;text-align: justify!important;">We are living through a fundamental transformation in the way we work. Automation and 'thinking machines' are replacing human tasks, changing the skills that organizations are looking for in their people.
         </p>
       </div>
       <div class="col-md-6 col-lg-6 col-12 text-center">
        <img src="../../assets/images/images/futureworkforce.png" class="img-fluid">
      </div>
    </div>
  </div>
  </section>
  <!--------------------------------cover section-------------------------->
  <section class="what-cover bg-success" id="covv">
    <div class="container py-5  text-center">
       <h1 class="text-white">Why Robotic Process Automation?</h1>
       <p style="font-size: 18px;color:white;">Repetitive tasks have a low value for a company and yet they are time consuming. By automating a process, a company can increase its speed. Automation also means saving people's energy by allowing them to perform higher valued tasks, that require a more creative approach..</p>
    </div>
  </section>
  <!------------------------------------cover section------------------>
  <!-- services section start-->
  <section class="serv-section bg-light" id="serve-sec">
    <div class=" container-fluid pb-5">
      <h1 class="text-center text-success py-5 m-0">Our Services</h1>
      <div class="row">
        <div class="col-12 col-lg-4 col-md-6">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/web.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">UIPath As a Service</h4>
             <!--  <p class="card-text text-center">advise organisations on high-level decisions in an unbiased fashion, using deep industry knowledge to deliver the best results. </p>  -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/product.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">Process Improvement</h4>
              <!-- <p class="card-text text-center">AI-driven development focuses on tools and techniques for embedding AI into applications and using AI to generate other AI-powered tools.</p>  -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/robot.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">Implementing RPA Solutions</h4>
             <!--  <p class="card-text text-center">Some example text.</p>  -->
            </div>
          </div>
        </div>
      </div>
        <div class="row pt-5">
        <div class="col-12 col-lg-4 col-md-6">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/setup.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">Support & Maintenance</h4>
              <!-- <p class="card-text text-center">Some example text.</p>  -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/robotic-color.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">RPA Training Program</h4>
              <!-- <p class="card-text text-center">Some example text.</p>  -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-md-6 mobile-margin">
          <div class="card">
            <img class=" avatar mt-5" src="../../assets/images/images/brain-robot.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title text-center">RPA Center Of Excellence</h4>
              <!-- <p class="card-text text-center">Some example text.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services section end -->
  <!-- industries section start -->
  <section class="indus-section bg-success" id="industries-sec">
    <div class="container-fluid py-5">
      <h1 class="text-center text-white pb-5">Industries We Serve</h1>
      <div class="row">
        <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/hospital.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Lifescience & Healthcare</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/supermarket.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Goods & Services</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin">
          <div class="card">
            <img src="../../assets/images/images/profits.png" class="avatar mt-3">
            <div class="card-body">
             <p class=" text-center mobile-font">Banking</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/car.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Automotive</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/travel.png" class="avatar mt-3">
            <div class="card-body" id="travel-card">
              <p class=" text-center mobile-font">Travel</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/network-signal.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Communication & Media</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- industries section end -->
  <!-------------------HEADER SECTION END--------------------------->
  <app-consortium-footer></app-consortium-footer>