<app-consortium-navbar></app-consortium-navbar>
<!-------------------HEADER SECTION START--------------------------->
<section class="header-section">
    <div class="container-fluid py-3">
      <div class="row pb-5" id="homeid" style="margin-right: 0px!important; margin-left: 0px!important;">
        <div class="col-md-6 col-lg-6 col-12 class-margin">
          <h1 style="color:rgba(76,175,80,1); font-size: 40px;" class="py-3 font-weight-bold">Blockchain</h1>
          <!-- <h2 class="text-left pl-5">Sample text Here</h2> -->
          <p class="text-left" style="font-size: 18px;text-align: justify!important;">The Blockchain is a technology based on the virtual digitized decentralized network with “blocks” of information. When you add any information in the network, you add it in all computers in the network.Blockchain technology distributed across multiple data centers can ensure security against attacks on important network and hardware equipment.
         </p>
       </div>
       <div class="col-md-6 col-lg-6 col-12 text-center">
        <img src="../../assets/images/images/blockchain.png" class="img-fluid" style="height">
      </div>
    </div>
   </div>
  </section>
  <!--------------------------------cover section-------------------------->
  <section class="what-cover bg-success" id="covv">
    <div class="container-fluid py-5  text-center">
       <h1 class="text-white">Why Should You Prefer Blockchain Development Services?</h1>
       <p style="font-size: 18px;color:white;">One of the reasons why your business should use this technology is about its open source structure. It means that other users of the network can read and confirm (or unconfirm) the information. The essential thing of being open source is that it can’t save logged data without majority Blockchian network users.</p>
    </div>
  </section>
  <!------------------------------------cover section------------------>
  <section class="types-section" id="types-sec">
   <div class="container-fluid py-5">
    <h1 class="text-center pb-5">Types Of Blockchain</h1>
     <div class="row">
       <div class=" col-lg-4 col-md-4 col-12">
         <div class="card card1">
           <img src="../../assets/images/images/bitcoin.png" class="card-img">
           <div class="card-body">
             <h4 class="text-center text-white">Private Blockchain</h4>
             <p class="text-center text-white">private blockchain is a permissioned based.Works on access controls which restrict the people who can participate in the network.</p>
           </div>
         </div>
       </div>
        <div class=" col-lg-4 col-md-4 col-12 margin-mobile">
         <div class="card card1">
           <img src="../../assets/images/images/cryptocurrency.png" class="card-img">
           <div class="card-body">
             <h4 class="text-center text-white">Consortium Blockchain</h4>
             <p class="text-center text-white">
               The consortium blockchain is a system that is 'semi-private' and has a controlled user group, but works across different organizations.
             </p>
           </div>
         </div>
       </div>
        <div class=" col-lg-4 col-md-4 col-12 margin-mobile">
         <div class="card card1">
           <img src="../../assets/images/images/cryptocurrency1.png" class="card-img">
           <div class="card-body">
             <h4 class="text-center text-white">Public Blockchain</h4>
             <p class="text-center text-white">public blockchain is permissionless. Anyone can join the network and read, write, or participate within the blockchain.</p>
           </div>
         </div>
       </div>
     </div>
   </div>
  </section>
  <!-- solution section start -->
  <!-- <section class="solution-section" id="sol-sec">
    <div class="container">
      <h1 class="text-center pb-5">Solutions We Provide</h1>
      <div class="row">
              <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/hospital.png" class="avatar mt-3 card-img">
            <div class="card-body">
              <h4 class="text-center  mob-card">Blockchain For Health Care</h4>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/profits.png" class="avatar mt-3 card-img">
            <div class="card-body">
              <h4 class=" text-center  mob-card">Blockchain For BFSI</h4>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  margin-mobile">
          <div class="card">
            <img src="../../assets/images/images/government.png" class="avatar mt-3 card-img">
            <div class="card-body">
              <h4 class=" text-center  mob-card">Blockchain For Government</h4>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  margin-mobile">
          <div class="card">
            <img src="../../assets/images/images/mortarboard.png" class="avatar mt-3 card-img">
            <div class="card-body">
              <h4 class=" text-center  mob-card">Blockchain For Education</h4>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  margin-mobile">
          <div class="card">
            <img src="../../assets/images/images/user.png" class="avatar mt-3 card-img">
            <div class="card-body">
              <h4 class=" text-center  mob-card">Blockchain For Media</h4>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  margin-mobile">
          <div class="card">
            <img src="../../assets/images/images/value.png" class="avatar mt-3 card-img">
            <div class="card-body">
              <h4 class=" text-center  mob-card">Blockchain For Public</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="indus-section bg-success" id="industries-sec">
    <div class="container-fluid py-5">
      <h1 class="text-center text-white pb-5">Industries We Serve</h1>
      <div class="row">
        <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/hospital.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Lifescience & Healthcare</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6">
          <div class="card">
            <img src="../../assets/images/images/supermarket.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Goods & Services</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin">
          <div class="card">
            <img src="../../assets/images/images/profits.png" class="avatar mt-3">
            <div class="card-body">
             <p class=" text-center mobile-font">Banking</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/car.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Automotive</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/travel.png" class="avatar mt-3">
            <div class="card-body" id="travel-card">
              <p class=" text-center mobile-font">Travel</p>
            </div>
          </div>
        </div>
         <div class="col-lg-2 col-md-4 col-6  mobile-margin pad-margin">
          <div class="card">
            <img src="../../assets/images/images/network-signal.png" class="avatar mt-3">
            <div class="card-body">
              <p class=" text-center mobile-font">Communication & Media</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- solutuion section end -->
  <!-------------------HEADER SECTION END--------------------------->
  <app-consortium-footer></app-consortium-footer>
