<app-consortium-navbar></app-consortium-navbar>
<!-------------------HEADER SECTION START--------------------------->
<section class="header-section">
	<div class="container-fluid">
		<div class="row" id="homeid" style="margin-right: 0px!important; margin-left: 0px!important;">
			<div class="col-md-6 col-lg-6 col-12 class-margin">
				<h1 style="color:rgba(76,175,80,1);font-size: 40px;" class="p-3 font-weight-bold">Consortium</h1>
				<!-- <h3 class="text-left pl-5">Sample text Here</h3> -->
				<p class="text-left"style="font-size: 18px;text-align: justify!important;">Caramel IT Services offers specialized business and custom software solutions, which was designed to meet rapidly increasing market demands and customer-centric solutions. Its main activity is to partner with CMMI Level 3, 4 & 5 organizations and provide a collaboration platform to build and then transfer technological innovations to its customers through consortium eco system.
					</p>
				<!-- <a href="#succ-sec" class="express-btn float-right ml-5 mt-1">READ MORE</a> -->
			</div>
			<div class="col-md-6 col-lg-6 col-12 text-center">
				<img src="../../assets/images/consortium-head.png" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<!-------------------HEADER SECTION END--------------------------->
<!----------------------Success section start--------------------->
<section class="success-sec bg-success" id="succ-sec">
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-12 col-lg-12 col-md-12">
        <h2 style="color: white" class="text-center text-uppercase">Own Your Success</h2>
        <p class="text-center" style="font-size: 18px;color:white;text-align: center-justify!important;">As a Collaboration Platform for Academy, Custom Solutions, Services and Products, we provide integrated learning and management system to each individual/stakeholder to build and own their career goals and future.</p>
      </div>
    </div>
  </div>
</section>
<!----------------------Success section end--------------------->
<!---------------------YOUR NEEDS START---------------------------->
<section class="needs-section" id="need-sec">
  <div class=" container-fluid py-3">
    <div>
        <h1 class="text-center" style="color:rgba(76,175,80,1);">TAILORED TO YOUR NEEDS</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="text-left pb-3" style="font-size: 20px;text-align: justify!important;">
        Our unique value proposition and key differentiator is to empower its partner network, client, employees and stakeholders to make smarter, innovative choices with speed of delivery. We achieve this using five easy steps.
    </div>
    <div class="row justify-content-between mobile-disp pt-3 px-5">
      <div class="col-lg-2 col-md-6 col-6 card-serv">
        <div><img src="../../assets/images/integration.png" class="img-fluid pt-3"></div>
        <p class="text-center py-3">Simplified integration</p>
      </div>
      <div class="col-lg-2 col-md-6 col-6 card-serv">
        <div><img src="../../assets/images/solutions.png" class="img-fluid pt-3"></div>
        <p class="text-center py-3">Customized Solutions</p>
      </div>
      <div class="col-lg-2 col-md-6 col-6 card-serv">
        <div><img src="../../assets/images/results.png" class="img-fluid pt-3"></div>
        <p class="text-center py-3">Result Oriented</p>
      </div>
      <div class="col-lg-2 col-md-6 col-6 card-serv">
        <div><img src="../../assets/images/innovation.png" class="img-fluid pt-3"></div>
        <p class="text-center py-3">Encourage Innovation</p>
      </div>
      <div class="col-lg-2 col-md-6 col-6 card-serv">
        <div><img src="../../assets/images/collaboration.png" class="img-fluid pt-3"></div>
        <p class="text-center py-3">Collaboration Platform</p>
      </div>
    </div>
    </div>
  </section>
<!---------------------YOUR NEEDS END---------------------------->
<!--------------------CLIENT PARTNERS START---------------------->
<section>
   <div class=" container-fluid py-3">
    <div><h1 class="text-center" style="color:rgba(76,175,80,1);">CLIENT PARTNER NETWORK UPDATE</h1></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="container-testi">
          <img src="../../assets/images/avatar.png" alt="Avatar" style="width:100px">
          <p><span>Chris Fox.</span><br> CEO at Mighty Schools.</p>
          <p>John Doe saved us from a web disaster.</p>
        </div>
      </div>
    <div class="col-lg-6 col-md-6 col-12">
     <div class="container-testi">
      <img src="../../assets/images/avatar.png" alt="Avatar" style="width:100px">
      <p><span>Chris Fox.</span><br> CEO at Mighty Schools.</p>
      <p>John Doe saved us from a web disaster.</p>
    </div>
  </div>
    <div class="col-lg-6 col-md-6 col-12">
       <div class="container-testi">
      <img src="../../assets/images/avatar.png" alt="Avatar" style="width:100px">
      <p><span>Chris Fox.</span><br> CEO at Mighty Schools.</p>
      <p>John Doe saved us from a web disaster.</p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
       <div class="container-testi">
      <img src="../../assets/images/avatar.png" alt="Avatar" style="width:100px">
      <p><span>Chris Fox.</span><br> CEO at Mighty Schools.</p>
      <p>John Doe saved us from a web disaster.</p>
    </div>
    </div>
    </div>
  </div>
</section>
<!--------------------CLIENT PARTNERS END---------------------->
<!--------------------TRENDING NEWS START---------------------------->
<section class="trend-section" id="trend-sec">
  <div class=" container-fluid py-3">
    <div><h1 class="text-center" style="color:rgba(76,175,80,1);">TRENDING NEWS</h1></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-6 mt-3">
        <div class="w3-card-4" style="width:100%">
        <header class="w3-container w3-light-grey">
          <h3>Key Updates From Academy</h3>
        </header>
        <div class="w3-container py-5">
          <!-- <p>1 new friend request</p>
          <hr> -->
          <img src="../../assets/images/avatar.png" alt="Avatar" class="w3-left w3-margin-right"style="width:100px" >
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>
        <button class="w3-button w3-block bg-success text-white">+ Connect</button>
      </div>
      </div>
      <div class="col-12 col-lg-6 col-md-6 mt-3">
        <div class="w3-card-4" style="width:100%">
        <header class="w3-container w3-light-grey">
          <h3>Key Updates From Products</h3>
        </header>
        <div class="w3-container py-5">
          <!-- <p>1 new friend request</p>
          <hr> -->
          <img src="../../assets/images/avatar.png" alt="Avatar" class="w3-left w3-margin-right"style="width:100px" >
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>
        <button class="w3-button w3-block bg-success text-white">+ Connect</button>
      </div>
      </div>
    </div>
  </div>
</section>
<!--------------------TRENDING NEWS END---------------------------->
<app-consortium-footer></app-consortium-footer>

